html,
body {
  width: 100%;
  color: #212529;
  background-color: #efefff;
}
a:hover {
  text-decoration: none !important;
}

header,
footer {
  padding: 1em;
}

header a:hover{
  color: #323232
}

footer a:hover{
  color: hotpink;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
  min-width: 100%;
}

.main-content {
  color: #212529;
  background-color: #efefff;
}
